# Data folder
data/

# Numpy
*.npy

# pyc
*.pyc

# Videos
*.mp4

# Images
*.png

.vscode/settings.json

# Segmentation
segmentation/model.200.hdf5
segmentation/UTE_FLORET_LungSeg.py
experimental/UTE_FLORET_LungSeg.py
segmentation/segmentation_ute.py
